.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* share style  */
.btn{
  font-size:1rem;
  font-weight: 700;
  color:#FFFFFF;
  background-color:#E02C6D;
  border:none;
  padding:10px 24px;
}




/* main style */
/* *{ margin:0;
padding:0;} */
*{
  /* max-width:1440px; 
  margin:0 auto;*/
 

}

.main-nav{
  max-width: 1440px;
  margin:0 auto;
  /* border:2px solid blue; */
  margin-top:87px;
  margin-bottom:50px;
}
.nav-container{
  max-width:1200px;
  margin:0 auto;
  /* border:2px solid red; */
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.nav-link ul{
  display:flex;
  /* justify-content: space-between; */
  gap:34px;
   align-items: center;
   /* border:2px solid yellowgreen; */
}
.nav-link ul li{  
  list-style:none;
}
.nav-link ul a{
text-decoration:none;
color:#3A3A3A;
font-size:1rem;
font-weight: 600;
}
.nav-head h3{
  color:#3A3A3A;
  font-size:1.5rem;
  font-weight:700;
}
.influencer-main{
  max-width: 1440px;
  margin:0 auto;
  /* border:2px solid red; */
  margin-bottom:70px;
}
.influencer-parent{
  max-width:1200px;
  margin:0 auto;
  /* border:2px solid green; */
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:133px;
}
.influencer-head h1{
max-width: 582px;
font-size:3.25rem;
font-weight: 700;
line-height: 70px;
/* color:#3a3a3a; */
}
.influencer-head p{
max-width: 505px;
font-weight: 600px;
font-size:1rem;
}
 /* img background set */
.influencer-pic{
  position:relative;
 
}
.influencer-pic .img2{
  position:absolute;
  top:-30px;
  right:-30px;
  /* width:100%; */
  z-index:1;
}
.influencer-pic .img1{
  position:relative;
  z-index: 2;
}
.sponsor-container{
  max-height: 110px;
  max-width:1110px;
  margin:0 auto;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  border:1px solid rgba(0, 0, 0, 0.069);
  /* box-shadow: 0px 2px 2px 2px black; */
  padding:35px 20px;
}
