.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* share style  */
.btn{
  font-size:1rem;
  font-weight: 700;
  color:#FFFFFF;
  background-color:#E02C6D;
  border:none;
  padding:10px 24px;
}




/* main style */
*{ margin:0;
padding:0;}
*{
  /* max-width:1440px; 
  margin:0 auto;*/
 

}

.main-nav{
  max-width: 1440px;
  margin:0 auto;
  /* border:2px solid blue; */
  margin-top:87px;
  margin-bottom:100px;
}
.nav-container{
  max-width:1200px;
  margin:0 auto;
  /* border:2px solid red; */
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.nav-link ul{
  display:flex;
  /* justify-content: space-between; */
  gap:34px;
   align-items: center;
   /* border:2px solid yellowgreen; */
}
.nav-link ul li{  
  list-style:none;
}
.nav-link ul a{
text-decoration:none;
color:#3A3A3A;
font-size:1rem;
font-weight: 600;
}
.nav-head h3{
  color:#3A3A3A;
  font-size:1.5rem;
  font-weight:700;
}
.influencer-main{
  max-width: 1440px;
  margin:0 auto;
  /* border:2px solid red; */
  margin-bottom:70px;
}
.influencer-parent{
  max-width:1200px;
  margin:0 auto;
  /* border:2px solid green; */
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:133px;
}
.influencer-head h1{
max-width: 582px;
font-size:3.25rem;
font-weight: 700;
line-height: 70px;
margin-bottom:16px;
/* color:#3a3a3a; */
}
.influencer-head p{
max-width: 505px;
font-weight: 600px;
font-size:1rem;
margin-bottom:16px;
}
 /* img background set */
.influencer-pic{
  position:relative;
 
}
.influencer-pic .img2{
  position:absolute;
  top:-32px;
  right:-32px;
  /* width:100%; */
  z-index:1;
}
.influencer-pic .img1{
  position:relative;
  z-index: 2;
}
.sponsor-container{
  max-height: 110px;
  max-width:1110px;
  margin:0 auto;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  border:1px solid rgba(0, 0, 0, 0.069);
  /* box-shadow: 0px 2px 2px 2px black; */
  padding:35px 20px;
  margin-bottom:100px;
}
.card-main{
 max-width:1110px;
  margin:0 auto;
  margin-bottom:100px;
}
.card-main>h3{
  color:#3A3A3A;
  line-height: 70px;
  font-weight: 600;
  font-size:1.5rem;
  text-align: center;
  margin-bottom:30px;
}
.card-container{
 
  display:grid;
  grid-template-columns: repeat(3,1fr);
  /* grid-template-rows: repeat(3,1fr); */
  gap:30px;
   margin-bottom:50px;
}
.box-card{
  /* text-align: center; */
  max-width: 329px;
  max-height: 476px;
  border:none;
  box-shadow: 0px 4px 0px 10px #8a7f7f10;
  padding:17px 15px 0px 15px;
  border-radius:5px;
 /* gap:20px;
 column-gap: 20px;
 row-gap: 20px; */
 justify-self: center; /* horizontal */
    align-self: center; 
   
}
.box-card img{
 width:300px;
 height:256px;
 border-radius: 5px;
 /* text-align: center; */
 margin-bottom:16px;
 
 
}
.box-card h3{
 font-size:1.8rem;
 font-weight: 600;
 color:#18191F;
 line-height:40px;
 margin-bottom:6px;
}
.box-card h4{
font-size:2rem;
/* line-height: 40px; */
font-weight: 400;
color:#000000;
margin-bottom:20px;
}
.box-card h5{
font-size:14px;
color:#787885;
width:196px;
margin-bottom:17px;
}
.card-main h6{
  color:#E02C6D;
  font-weight: 700;
  font-size:1rem;
  text-align: right;

}
.feature-container{
  max-width: 1110px;
  margin:0 auto;
  display:flex;
  justify-content: center;
  /* align-items: center; */
  gap:96px;
  margin-bottom:100px;
}
.img-container img{
width:404px;
height:270px;
border-radius:5px;
}
.head-container h2{
font-size:2.5rem;
font-weight: 700;
color:#0A0826;
line-height: 60px;
margin-bottom:16px;
}
.head-container p{
font-size:1rem;
font-weight: 700;
line-height: 28px;
color:#6C6C6C;
max-width: 508px;
margin-bottom:16px;
}
.fot-main{
  max-width: 1440px;
  margin: 0 auto;
  background-color: #0A0826;
  height: 235px;
  margin-bottom:50px;
  display:flex;
  justify-content: center;
  align-items:center;
}

.copy-right-container{
/* width:262px;
height:139px; */
/* text-align:center; */
}
.copy-right-container h3{
font-size:1.5rem;
font-weight: 700;
color:#FFFFFF;
margin-bottom: 3px;
}
.copy-right-container p{
font-size:0.9rem;
line-height: 24px;
color:#D9DBE1;
margin-bottom:3px;
}
.copy-right-container .pa{
font-size:0.9rem;
line-height: 24px;
color:#D9DBE1;
margin-bottom: 17px;
text-align: center;
}
.social-link a{
  width:32px;
  height:32px;
  margin-right:12px;
  background-color: #817c7ca5;
  border-radius: 48%;
  padding:5px;
  /* border:2px solid green; */
}

@media screen and (max-width:576px){

  .nav-container,.influencer-parent {
    flex-direction: column;  
} 

.nav-link ul {
    display: none;   
}
.influencer-parent,.feature-container  {
 flex-direction: column-reverse;   
}

.influencer-head,.head-container{
  text-align: center;
}
.sponsor-container{
 
  /* flex-direction: column; */
  /* justify-content: space-around; */
  align-items: center;
  padding:10px;
  margin-bottom:60px;
    border:none;
   display:grid;
   grid-template-columns:repeat(4,1fr); 
   /* justify-self: center;
   align-self: center; */
   row-gap: 10px;
   /* column-gap:5px; */
   width:100%;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    margin-bottom: 50px;
    width:100%;
}
.card-main {
    margin-bottom: 50px;
}
.card-main h6 {
    text-align: right;
    margin-right: 60px;
}
.feature-container{
  margin-bottom:30px;
  gap:30px;
}
.img-container {
  margin:0 auto;
}


}